
*{
  font-family: "Cambria";
}

body{
  background-color: lightgrey;
}

header{
  background-color: #1b1b1b;
  width:100%;
}

ul{
  margin: 0;
  padding: 0;
}

header li{
  color: white;
  display: inline-block;
  padding: 2em;
  margin: 0;
  padding-left: 3em;
  padding-right: 3em;
  font-size: 1.5em;
}

a {
  color: inherit;
  text-decoration: none; /* no underline */
}

#login, #cart{
  float:right;
}

header li:hover{
  background-color: white;
  color: black;
}

h1{
  margin-top: 1em;
  padding-left: 2em;
}


table{
  border-collapse: collapse;
}

table tr{
  text-align: center;
  font-size: 1.3em;
  width: 100%;
}

tbody tr{
  border-top: 1px solid;
}


thead{
  background-color: tan;
  border: 1px solid;
  border-color: tan;
}

tbody td{
  vertical-align: top;
  table-layout: fixed;
  padding-bottom: 1em;
  padding-top: 1em;
}

tfoot td{
  padding: 1em;
  background-color: lightblue;
  border: 1px solid;
  border-color: lightblue;
  text-align: right;
}

.name{
  padding: 1em;
  text-align: left;
}

.description{
  padding: 1em;
  border-right: 1px solid;
  border-left: 1px solid;
}

.button{
  margin-top: 2em;
  text-align: right;
  width: 79%;
}


button{
  padding: 1em;
}

img{
  height: 200px;
  width: 300px;
  vertical-align: center;
}

footer{
  height: 200px;
}
