*{
  font-family: "Cambria";
}

body{
  background-color: lightgrey;
}

header{
  background-color: #1b1b1b;
  width:100%;
}

ul{
  margin: 0;
  padding: 0;
}

header li{
  color: white;
  display: inline-block;
  padding: 2em;
  margin: 0;
  padding-left: 3em;
  padding-right: 3em;
  font-size: 1.5em;
}


a {
  color: inherit;
  text-decoration: none; /* no underline */
}

#login, #cart{
  float:right;
}

header li:hover{
  background-color: white;
  color: black;
}


h1{
  margin-top: 1em;
  padding-left: 2em;
  /*border: 2px solid;*/
}

table, tr, td{
  text-align: center;
  font-size: 1.3em;
  border: 1px solid;
}

img{
  height: 200px;
  width: 300px;
}
