/**{
  border: 2px solid;
  border-color:black;
}*/

body{
  background-color: lightgrey;
}

header{
  background-color: #1b1b1b;
  width:100%;
}


header h2{
  color: white;
  display: inline-block;
  padding: 2em;
  margin: 0;
  padding-left: 3em;
  padding-right: 3em;
}

a {
  color: inherit;
  text-decoration: none; /* no underline */
}

#login, #cart{
  float:right;
}

header h2:hover{
  background-color: white;
  color: black;
}

h1{
  padding-left: 2em;
  /*border: 2px solid;*/
}



.menu{
  position: relative;
  margin: auto;
}

.title{
  text-align: center;
  font-size: 1.5em;
  font-style: italic;
}

.item{
  display: inline-block;
  text-align: center;
}

.button{
  text-align: center;
  /*border: 2px solid;*/
  position: relative;
  border-radius: 10em;
  float:inherit;
  margin: auto;
  width: 40%;
  border: 1px solid;
  margin-bottom: 1em;
}

.button a, .item a{
  pointer-events: none;
}

.button:hover{
  background-color: maroon;
  color: white;
  border: 1px solid;
}


img{
  height: 400px;
  width: 700px;
  padding: 2em;
  border-radius: 10em;
  margin: 0 1em 0 1em;
  padding: 0;
}



footer{
  margin-top: 2em;
  padding: 1em;
  background-color:black;
  color: white;
  height: 300px;
  position:;
}
