/**{
  border: 1px solid;
}*/

*{
  font-family: "Cambria";
}


body{
  background-color: lightgrey;
}

header{
  background-color: #1b1b1b;
  width:100%;
}

ul{
  margin: 0;
  padding: 0;
}

header li{
  color: white;
  display: inline-block;
  padding: 2em;
  margin: 0;
  padding-left: 3em;
  padding-right: 3em;
  font-size: 1.5em;
}


a {
  color: inherit;
  text-decoration: none; /* no underline */
}

#login, #cart{
  float:right;
}

header li:hover{
  background-color: white;
  color: black;
}

h1{
  padding-left: 2em;
  margin-top: 1em;
  /*border: 2px solid;*/
}


.menu{
  position: relative;
  margin: auto;
}

.title{
  text-align: center;
  font-size: 1.5em;
  font-style: italic;
}

.item{
  display: inline-block;
  text-align: center;
}


.button{
  text-align: center;
  /*border: 2px solid;*/
  position: relative;
  border-radius: 10em;
  margin-left: 17em;
  width: 40%;
  border: 1px solid;
  margin-bottom: 1em;
  padding: 1em;
}

.button:hover{
  background-color: maroon;
  color: white;
  border: 1px solid;
}


.button {
  cursor: pointer;
}
#modal1{
  display: none;

}
#modal2{
  display: none;

}
#modal3{
  display: none;

}
#modal4{
  display: none;
}
.modal{
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-header{
  background-color:#f44336;
  padding: 10px 20px 10px 20px;
  width: 40%; /* Could be more or less, depending on screen size */
  margin-left: 25%;
  margin-top: 15%;
}
.modal-body{
  background-color: lightgrey;
  padding: 40px 20px 40px 20px;
  width: 40%; /* Could be more or less, depending on screen size */
  margin-left: 25%;
}
.modal-footer{
  background-color:#f44336;
  padding: 10px 20px 10px 20px;
  width: 40%; /* Could be more or less, depending on screen size */
  margin-left: 25%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 1em;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


img{
  cursor: pointer;
  height: 400px;
  width: 700px;
  padding: 2em;
  border-radius: 10em;
  margin: 0 1em 0 1em;
  padding: 0;
}



footer{
  margin-top: 2em;
  padding: 1em;
  background-color:black;
  color: white;
  height: 300px;
  position:;
}

footer p{
  padding: 2em;
}
