<!DOCTYPE html>
<html>
  <head>
    <% include head.ejs %>

    <link rel='stylesheet' href="cart.css" />
  </head>

  <body>
    <!-- header -->
    <% include header.ejs %>

    <!-- Cart -->
    <table align="center">
      <thead>
        <tr>
          <th colspan=2>Item</th>
          <th>Quantity</th>
          <th>Cost</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody class="cart">
      </tbody>

      <tfoot>
        <tr id="subtotal">
          <td colspan=3>Subtotal</td>
        </tr>
        <tr id="tax">
          <td colspan=3>Tax</td>
        </tr>
        <tr id="total">
          <td colspan=3>Total</td>
        </tr>
      </tfoot>
    </table>

    <div class="coupon">
      <p>Enter coupon code: <input type="username"></p>
    </div>

    <div class="button">
        <a href="/checkouts"><button>Checkout</button></a>
    </div>


    <script>

      var current = [];

      $.ajax({
          url: "http://localhost:3000/cart/users/",
          type: "GET",
          success: function(e){


              var wholecart = e;

              var cart = $('.cart');

              cartNumber = 0;

              for(var j = 0; j < wholecart.length; j++){

                if (wholecart[j].userId === "<%= user._id%>"){

                    current = wholecart[j].items;

                    for (var i = 0; i < current.length; i++){

                        if (current[i].quantity > 0){
                          var row = document.createElement("tr");
                          row.id = i;

                          var image = document.createElement("td");
                          image.className = "image";

                          var img = document.createElement('img');
                          img.src = current[i].info.img;
                          image.appendChild(img);

                          var title = document.createElement("td");
                          title.className = "title";
                          title.innerHTML = current[i].info.title;

                          var quantity = document.createElement("td");
                          quantity.innerHTML = current[i].quantity;

                          var cost = document.createElement("td");
                          cost.innerHTML = '$' + (current[i].quantity * current[i].info.price) + ".00";

                          var decrease = document.createElement("td");
                          var b = document.createElement("button");
                          b.className = "button"+ " button" + i;
                          b.innerHTML = "Delete";
                          decrease.appendChild(b);

                          row.append(image);
                          row.append(title);
                          row.append(quantity);
                          row.append(cost);
                          row.append(decrease);

                          cart.append(row);

                          cartNumber += parseInt(current[i].quantity);
                        }
                    }
                }
              }

              var subtotal = document.querySelector("#subtotal");
              var sub = document.createElement("td");

              var number = 0;
              for (var i = 0; i < current.length; i++){
                number += parseInt(current[i].info.price) * parseInt(current[i].quantity);
              }

              sub.innerHTML = "$" + (number) + ".00";
              subtotal.appendChild(sub);

              var tax = document.querySelector("#tax");
              var t = document.createElement("td");
              var tnumber = Math.round(.0725*(number)*100)/100;
              t.innerHTML = "$" + tnumber;
              tax.appendChild(t);

              var total = document.querySelector("#total");
              var tot = document.createElement("td");
              tot.innerHTML = "$" + (number + tnumber);
              total.appendChild(tot);

              console.log(cartNumber);
              $("#cart").html("Cart (" + cartNumber + ")");

          }

      });


      $('.cart').on('click','.button', function(e){

        var str = $(this).attr("class");
        var index = parseInt(str.slice(13, str.length));
        var id = current[index].info._id;
        console.log(id)

        // Change cart number when deleting
        var cartNo = $('#cart').html();
        var length = cartNo.length - 1;
        var cartNumber = parseInt(cartNo.slice(6, length));
        cartNumber -= current[index].quantity;
        $("#cart").html("Cart (" + cartNumber + ")");

        $('#'+index).closest('tr').remove();

        current[index].quantity = 0;

        console.log(current);


        $.ajax({
          url: "http://localhost:3000/cart/users/",
          type: "POST",
          data: {items: current}
        });


      });

    </script>
  </body>
</html>
