<!DOCTYPE html>
<html>
  <head>
    <% include head.ejs %>

    <link rel='stylesheet' href="checkoutstyle.css" />

  </head>

  <body>
    <!-- header -->
    <% include header.ejs %>

    <div id="checkout">

      <h3>Select Form of Payment</h3>
      <form name="payment">
        <input type="radio" name="type" value="cc"> Credit / Debit Card
        <input type="radio" name="type" value="ca"> Cash

        <div class="container">
          <div class="row">
            <div class="span12">
              <form class="form-horizontal span6">
                <fieldset>
                  <div class="control-group">
                    <label class="control-label">Name</label>
                    <div class="controls">
                      <input type="text" name="first" class="input-block-level" pattern="\w+ \w+.*" title="Fill your first and last name" required>
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label">Card Number</label>
                    <div class="controls">
                      <div class="row-fluid">
                        <div class="span3">
                          <input class="input-block-level" type="credit card" autocomplete="off" maxlength="16" title="Credit Card Number">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label">Card Expiration Date</label>
                    <div class="controls">
                      <div class="row-fluid">
                        <div class="span9">
                          <select class="input-block-level">
                            <option>January</option>
                            <option>February</option>
                            <option>March</option>
                            <option>April</option>
                            <option>May</option>
                            <option>June</option>
                            <option>July</option>
                            <option>August</option>
                            <option>September</option>
                            <option>October</option>
                            <option>November</option>
                            <option>December</option>
                          </select>
                        </div>
                        <div class="span3">
                          <select class="input-block-level">
                            <option>2017</option>
                            <option>2018</option>
                            <option>2019</option>
                            <option>2020</option>
                            <option>2021</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label">Card CVV</label>
                    <div class="controls">
                      <div class="row-fluid">
                        <div class="span3">
                          <input type="cv" class="input-block-level" autocomplete="off" maxlength="3" pattern="\d{3}" title="Three digits at back of your card" required>
                        </div>
                        <div class="span8">
                          <!-- screenshot may be here -->
                        </div>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>

      <label class="p">Phone Number</label>
      <p><input name="phone" type="text" placeholder='Phone Number' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone Number'" /></p>

      <label class="p">Billing Address</label>
      <p><input type="bstreet" placeholder="Street" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Street'"/></p>
      <p><input type="bcity" placeholder="City" onfocus="this.placeholder = ''" onblur="this.placeholder = 'City'" />
        <input type="bstate" maxlength="2" placeholder="State" onfocus="this.placeholder = ''" onblur="this.placeholder = 'State'" />
        <input type="bzip"  maxlength="5" placeholder="Zipcode" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Zipcode'" /></p>

      </br>
      </br>

      <label class="p">Delivery Address</label>
      <p><input type="dstreet" placeholder="Street" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Street'"/></p>
      <p><input type="dcity" placeholder="City" onfocus="this.placeholder = ''" onblur="this.placeholder = 'City'" />
        <input type="dstate" maxlength="2" placeholder="State" onfocus="this.placeholder = ''" onblur="this.placeholder = 'State'" />
        <input type="dzip"  maxlength="5" placeholder="Zipcode" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Zipcode'" /></p>


      <label class="p">Delivery Comments</label>
      <p><textarea rows="4" cols="50" style="margin: 0px; width: 527px; height: 152px;"></textarea></p>


      </form>
    </div>

    <div class="button">
      <button>Pay</button>
    </div>



  <script>

    $.ajax({
      url: "http://localhost:3000/cart/users/",
      type: "GET",
      success: function(e) {
        var c = 0;
        cart = e;
        for (var i = 0; i < cart.length; i++) {
          if (cart[i].userId === "<%= user._id%>") {
            current = cart[i].items;
            for (var j = 0; j < cart[i].items.length; j++) {
              //console.log(current[j].quantity);
              c += current[j].quantity;
            }
            $("#cart").html("<a href=\"/carts\">Cart (" + c + ")<\a>");
            break;
          }
        }
      }
    })


    $('body').on('click','.button', function(e){

      var payment_type = document.forms["payment"]["type"].value;
      var credit_card = document.querySelector('input[type="credit card"]').value;
      //var exp = document.querySelector('input[type="month"]').value;
      var cv = document.querySelector('input[type="cv"]').value;
      var first = document.querySelector('input[name="first"]').value;
      // var last = document.querySelector('input[name="last"]').value;
      var phone = document.querySelector('input[name="phone"]').value;

      var bstreet = document.querySelector('input[type="bstreet"]').value;
      var bcity = document.querySelector('input[type="bcity"]').value;
      var bstate = document.querySelector('input[type="bstate"]').value;
      var bzip = document.querySelector('input[type="bzip"]').value;

      var dstreet = document.querySelector('input[type="dstreet"]').value;
      var dcity = document.querySelector('input[type="dcity"]').value;
      var dstate = document.querySelector('input[type="dstate"]').value;
      var dzip = document.querySelector('input[type="dzip"]').value;

      var comments = document.querySelector('textarea').value;

      if (payment_type == "") {
          alert("Select payment type");
          return false;
      }
      if (payment_type==="cc"){
        if (!Number.isInteger(parseInt(credit_card)) || !(credit_card.length == 16 || credit_card.length == 15)){
          alert("invalid credit_card");
          return false;
        }
        if (!Number.isInteger(parseInt(cv)) || !(cv.length == 3)){
          alert("invalid cv number");
          return false;
        }
        if (exp==""){
          alert("invalid expiration date");
          return false;
        }
        if (bstreet=="" || bcity == "" || bstate == "" || bzip == ""){
          alert("invalid billing address");
          return false;
        }
      }
      if (first == ""){
        alert("please enter first and last name");
        return false;
      }
      if (dstreet=="" || dcity == "" || dstate == "" || dzip == ""){
        alert("invalid delivery address");
        return false;
      }
      else {

        var current = [];

        $.ajax({
          url: "http://localhost:3000/cart/users/",
          type: "GET",
          success: function(e){

              var wholecart = e;

              for(var j = 0; j < wholecart.length; j++){
                if (wholecart[j].userId === "<%= user._id%>"){
                    current = wholecart[j].items;
                }
              }
              //console.log(current);

              $.ajax({
                url:"http://localhost:3000/checkout/",
                type:"POST",
                data: {cart: current,
                       fname: first,
                       lname: "",
                       phone: phone,
                       street: dstreet,
                       city: dcity,
                       state: dstate,
                       zipcode: dzip
                     },
                success: function(e){
                  //console.log(e);
                }

              })
          }
        })
      window.location.replace('/receipt')
      }
    })


  </script>


  </body>
  </html>
