<header>
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-left">
        <ul>
          <li id="home"><a href="/">Home</a></li>
        </ul>
      </div>
      <div class="navbar-right">
        <ul>
          <li id="admin"><a href="/admin">Admin</a></li>
          <li id="login"><a href="/login"><%= user.fname != undefined ? "Hello " + user.fname : "Login/Register" %></a></li>
          <li id="cart"><a href="/carts">Cart (0)</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div>
  <h1><%= h1 %>
</div>
