<header>
    <ul>
        <a href="/">
            <li id="home">Home</li>
        </a>
        <a href="/carts">
            <li id="cart">Cart (0)</li>
        </a>
        <a href="/login">
            <li id="login"><%= user ? "Hello " + user.fname : "Login/Register" %></li>
        </a>
    </ul>
</header>

<div>
  <h1><%= h1 %>
</div>
