<!DOCTYPE html>
<html>
  <head>
    <% include head.ejs %>

    <link rel='stylesheet' href="cart.css" />
  </head>

  <body>
    <!-- header -->
    <% include header.ejs %>

    <table align="center">
      <thead>
        <tr>
          <th colspan=5>Order Summary</th>
        </tr>
        <tr>
          <th colspan=2>Item</th>
          <th>Quantity</th>
          <th>Cost</th>
        </tr>
      </thead>


      <tbody class="cart">
      </tbody>

      <tfoot>
        <tr id="subtotal">
          <td colspan=3>Subtotal</td>
        </tr>
        <tr id="tax">
          <td colspan=3>Tax</td>
        </tr>
        <tr id="total">
          <td colspan=3>Total</td>
        </tr>
      </tfoot>
    </table>

    <h2>Coupons applied:</h2>
    <div class="coupon">
    </div>

    <h2>Delivered to:</h2>
    <div class="address">
    </div>


  <script>

    var current = [];

    var string = "";

    $.ajax({
      url: "http://localhost:3000/cart/users/",
      type: "GET",
      success: function(e){

          var wholecart = e;

          var cart = $('.cart');

          cartNumber = 0;

          for(var j = 0; j < wholecart.length; j++){

            if (wholecart[j].userId === "<%= user._id%>"){

                current = wholecart[j].items;

                string = wholecart[j].coupon;

                for (var i = 0; i < current.length; i++){

                  if (current[i].quantity > 0){
                    var row = document.createElement('tr');
                    row.id = i;

                    var image = document.createElement("td");
                    image.className = "image";

                    var img = document.createElement('img');
                    img.src = current[i].info.img;
                    image.appendChild(img);

                    var title = document.createElement("td");
                    title.className = "title";
                    title.innerHTML = current[i].info.title;

                    var quantity = document.createElement("td");
                    quantity.innerHTML = current[i].quantity;

                    var cost = document.createElement("td");
                    cost.innerHTML = '$' + (current[i].quantity * current[i].info.price) + ".00";

                    row.append(image);
                    row.append(title);
                    row.append(quantity);
                    row.append(cost);

                    cart.append(row);

                    cartNumber += current[i].quantity;
                  }
                }
              }
            }

            var subtotal = document.querySelector("#subtotal");
            var sub = document.createElement("td");
            sub.id = "sub"

            var number = 0;
            for (var i = 0; i < current.length; i++){
              number += parseInt(current[i].info.price) * parseInt(current[i].quantity);
            }

            sub.innerHTML = "$" + (number) + ".00";
            subtotal.appendChild(sub);

            var tax = document.querySelector("#tax");
            var t = document.createElement("td");
            t.id = "t"
            var tnumber = Math.round(.0725*(number)*100)/100;
            t.innerHTML = "$" + tnumber;
            tax.appendChild(t);

            var total = document.querySelector("#total");
            var tot = document.createElement("td");
            tot.id =  "tot"
            tot.innerHTML = "$" + (number + tnumber);
            total.appendChild(tot);

            $("#cart").html("<a href=\"/carts\">Cart (" + cartNumber + ")<\a>");

            if (string){
                $.ajax({
                  url: "http://localhost:3000/coupons/find",
                  type: "POST",
                  data: {_id: string},
                  success: function(e){
                      //console.log(e)
                      var number = 0;
                      for (var i = 0; i < current.length; i++){
                        number += parseInt(current[i].info.price) * parseInt(current[i].quantity);
                      }
                      number *= 100/100;
                      if (e.type === "Percent"){
                        var multiplier = 100 - e.value;
                        number = number * (multiplier/100)
                      }
                      if (e.type === "Flat"){
                        number -= e.value;
                      }
                      var tnumber = Math.round(.0725*(number)*100)/100;
                      var tot = (number + tnumber) *100/100;
                      $("#sub").html("$" + number);
                      $("#t").html("$" + tnumber);
                      $("#tot").html("$" + (tot));


                      var coupon = $(".coupon");
                      var msg = ""
                      if (e.type === "Percent"){
                          msg = `Coupon: ${e.name} applied, enjoy ${e.value}% off subtotal`;
                      }
                      if (e.type === "Flat"){
                          msg = `Coupon: ${e.name} applied, enjoy $${e.value} off subtotal`;
                      }
                      var paragraph = document.createElement("p");
                      paragraph.append(msg);

                      coupon.append(paragraph);
                  }
                })
            }
      }
    })


    $.ajax({
      url: "http://localhost:3000/checkout/receipt",
      type: "POST",
      success: function(e){

          var delivery_info = e[e.length-1];
          //console.log(delivery_info);

          var address = $('.address')
          var name = `${delivery_info.fname} ${delivery_info.lname}`
          var details = `${delivery_info.street} ${delivery_info.city}, ${delivery_info.state} ${delivery_info.zipcode}`
          var phone = `Expect a delivery text to (if entered): ${delivery_info.phone}`
          var ph = document.createElement("p");
          var paragraph = document.createElement("p");
          var p = document.createElement("p");
          p.append(name);
          paragraph.append(details);
          ph.append(phone);
          address.append(p);
          address.append(paragraph);
          address.append(ph);

          $.ajax({
            url: "http://localhost:3000/cart/users/",
            type: "POST",
            data: {items: []}
          });

          $.ajax({
            url:"http://localhost:3000/cart/coupons/",
            type:"POST",
            data: {coupon: ""}
          });

      }

    })



  </script>
  </body>
</html>
