  <!DOCTYPE html>
<html>
  <head>
    <% include head.ejs %>

    <link rel='stylesheet' href="registerstyle.css" />
  </head>

  <body>
    <!-- header -->
    <% include header.ejs %>

      <div id="form">
        <div class="input">
          <p>First Name:</p>
          <p><input id="first" type="username"></p>

          <p>Last Name:</p>
          <p><input id="last" type="username"></p>

          <p>Email:</p>
          <p><input id="email" type="email"></p>

          <p>Create Password:</p>
          <p><input id="password" type="password"></p>

          <p>Re-enter Password:</p>
          <p><input id="confirmation" type="password"></p>
        </div>

        <div class="button">
            <button disable>
              Register
            </button>
        </div>
        <div class="register">
          <p>Existing User? <a href="/login"> <span>Sign in here.</span></a></p>
        </div>
      </div>

    <script>

          // Register user by posting to users

          // Clicking Register button
          $('.button').on('click', 'button', function(e){
            console.log('hello');

            var first = $('#first').val();
            var last = $('#last').val();
            var email = $('#email').val();

            if (first === "" || last === ""){
              alert("Please fill out name");
              return;
            }

            var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

            if(!re.test(email)){
              alert("Invalid email format");
              return;
            }

            // salt hash these
            var pass = $('#password').val();
            var confirm = $('#confirmation').val();

            if (pass ===""){
              alert("empty password");
              return;
            }

            if (pass != confirm){
              alert("Passwords don't match");
              return;
            }

            // get users and see if the user exists
            $.ajax({
              url: "http://localhost:3000/users",
              type: "GET",
              success: function(e){
                  array = e;

                  var existence = 0
                  for ( var i = 0; i < array.length; i++){
                    if (email === array[i]["username"]){
                        console.log("user already exists");
                        existence++;
                        return;
                    }
                  }

                  // post new user and new cart if new user
                  if (existence == 0){
                    console.log("user doesn't exist yet");
                    $.ajax({
                      url: "http://localhost:3000/users",
                      type: "POST",
                      data: {fname: first, lname: last, username: email, password: pass},
                      success: function(e){
                        var id = e;
                        $.ajax({
                          url: "http://localhost:3000/cart/",
                          type: "POST",
                          data: {
                            userId: id,
                            items: []
                          },
                          success: function(e){
                            $.ajax({
                              url: 'http://localhost:3000/users/login',
                              type: "POST",
                              data: {username: email, password: pass},
                              success: function(e){
                                //console.log(e)
                                  window.location = "/";
                              }
                            });
                          }
                        });

                      }
                    });

                  }
              }
            });

          });

    </script>
  </body>
</html>
