
th{
  text-align: center;
}


h2{
  margin-top: 1em;
  padding-left: 2em;
}

p{
  font-size: 2em;
  padding-left: 3em;
}

table{
  border-collapse: collapse;
}

table tr{
  text-align: center;
  font-size: 1.3em;
  width: 100%;
}

tbody tr{
  border-top: 1px solid;
}


thead{
  background-color: tan;
  border: 1px solid;
  border-color: tan;
}

tbody td{
  vertical-align: top;
  table-layout: fixed;
  padding-bottom: 1em;
  padding-top: 1em;
}


tfoot td{
  padding: 1em;
  background-color: lightblue;
  border: 1px solid;
  border-color: lightblue;
  text-align: right;
}

.name{
  padding: 1em;
  text-align: left;
}

.description{
  padding: 1em;
  border-right: 1px solid;
  border-left: 1px solid;
}


.coupon{
  text-align: center;
  margin-top: 2em;
}


.button{
  text-align: center;
  /*width: 79%;*/
  width: 100%;
}

button{
  padding: 1em;
}

img{
  height: 200px;
  width: 300px;
  vertical-align: center;
}

footer{
  height: 200px;
}
