
.button{
  text-align: center;
  margin-bottom: 2em;
}

p{
  padding-left: 2em;
}

h3{
  padding-left: 2em;
}

form{
    padding-left: 2em;
    padding-bottom: 2em;
}

textarea{
  resize:vertical;
}

#checkout{
  padding: 2em;
  padding-left: 2em;
  background-color: beige;
  border-radius: 10px;
  width: 40%;
  margin: 3em;
  margin-bottom: 1em;
}

button{
  padding: 1em;
  margin: 2em;
}
