/**{
  border: 1px solid;
}*/

*{
  font-family: "Cambria";
}

html {
	overflow-y: scroll;
}

body{
  background-color: lightgrey;
}

header{
  background-color: #1b1b1b;
  width:100%;
}

ul{
  margin: 0;
  padding: 0;
}

header li{
  color: white;
  display: inline-block;
  padding: 2em;
  margin: 0;
  padding-left: 3em;
  padding-right: 3em;
  font-size: 1.5em;
}

a {
  color: inherit;
  text-decoration: none; /* no underline */
}


*, *:before, *:after {
  box-sizing: border-box;
}

.button-block {
  display:block;
  width:100%;
}


.form {
  background:#13232f;
  padding: 40px;
  max-width:600px;
  margin:40px auto;
  box-shadow:0 4px 10px 4px rgba(#13232f,.3);
}


label {
  position:absolute;
  transform:translateY(6px);
  left:13px;
  color:#ffffff;
  transition:all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size:22px;
  .req {
  	margin:2px;
  	color:#1ab188;
  }
}


label.active {
  transform:translateY(50px);
  left:2px;
  font-size:14px;
  .req {
    opacity:0;
  }
}

label.highlight {
	color:$white;
}

input, textarea {
  font-size:22px;
  display:block;
  width:100%;
  height:100%;
  padding:5px 10px;
  background:none;
  background-image:none;
  border:1px solid $gray-light;
  color:#ffffff;
  border-radius:0;
  transition:border-color .25s ease, box-shadow .25s ease;
  &:focus {
		outline:0;
		border-color:$main;
  }
}

textarea {
  border:2px solid $gray-light;
  resize: vertical;
}

.field-wrap {
  position:relative;
  margin-bottom:40px;
}


#login, #cart{
  float:right;
}

header li:hover{
  background-color: white;
  color: black;
}

h1{
  text-align: center;
  width: auto;
  margin-top: 1em;
  margin-bottom: 2em;
}

p{
  color: white;
}

.button {
  text-align: center;
  position: relative;
  height: 20%;
  padding-top: 1em;
  padding-bottom: 1em;

  border:0;
  outline:none;
  border-radius:0;
  padding:15px 0;
  font-size:2rem;
  background:#1ab188;
  color:#000000;
  transition:all.5s ease;
  -webkit-appearance: none;
  &:hover, &:focus {
    background:darken(#1ab188,5%);
  }
}
.register{
  text-align: center;
}

span{
  color: blue;
}
