/**{
  border: 1px solid;
}*/

*{
  font-family: "Cambria";
}

body{
  background-color: lightgrey;
}

header{
  background-color: #1b1b1b;
  width:100%;
}

ul{
  margin: 0;
  padding: 0;
}

header li{
  color: white;
  display: inline-block;
  padding: 2em;
  margin: 0;
  padding-left: 3em;
  padding-right: 3em;
  font-size: 1.5em;
}

a {
  color: inherit;
  text-decoration: none; /* no underline */
}


#login, #cart{
  float:right;
}


header li:hover{
  background-color: white;
  color: black;
}

h1{
  text-align: center;
  width: auto;
  margin-top: 1em;
  margin-bottom: 2em;
  /*border: 2px solid;*/
}

#form{
  border: 1px solid;
  border-radius: 3em;
  width: 35%;
  padding: 2em 0 2em 0;
  opacity: 1;
  background-color: lightblue;
  margin: 0 auto;
}

.input{
  text-align: center;
  width: 100%;
}

button{
  padding: 1em 3em 1em 3em;
}

.button {
  text-align: center;
  position: relative;
  height: 20%;
  padding-top: 1em;
  padding-bottom: 1em;
}
.register{
  text-align: center;
}

span{
  color: blue;
}
